/* --------------------------------------------- ESTILOS GLOBALES --------------------------------------------- */

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  margin-left: 20px;
}

textarea {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  resize: none;

}

button {
  cursor: pointer;
}

.contenedorGeneral {
  display: flex;
  align-items: center;
}

/* --------------------------------------------- ESTILOS AREA CREACION NOTAS --------------------------------------------- */

.creacionNotas {
  width: 400px;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.creacionNotas p {
  margin-bottom: 10px;
  font-weight: 500;
}

.contenedorQuill {
  height: 350px;
}

#input_titulo {
  font-size: 20px;
  height: 30px;
}


.creacionNotas button {
  margin-top: 20px;
  height: 50px;
  width: 150px;
  align-self: center;
  cursor: pointer;
}

/* --------------------------------------------- ESTILOS AREA DISPLAY NOTAS --------------------------------------------- */

.displayNotas {
  margin-left: 50px;
  height: 500px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}

.displayNotas button {
  width: 150px;
  height: 50px;
}

/* --------------------------------------------- ESTILOS MODALES --------------------------------------------- */

.modalAlertaInner {
  position: fixed;
  left: 20px;
  bottom: 20px;
  background-color: rgb(223, 237, 241);
  padding: 20px;
  width: 400px;
  border-radius: 5px;
  border: solid 1px darkgrey;
}

.modalAlertaTitulo {
  margin-top: 0px;
  margin-bottom: 0px;
}

.modalAlertaCuerpo {
  margin: 10px 0px;
}

.modalAlertaBtn {
  width: 100px;
  height: 35px;
  background-color: rgb(198, 229, 241);
  border-radius: 5px;
  border: solid 1px darkgrey;
  cursor: pointer;
}